<div class="form-wrapper">
    <div class="form form-holder">
        <form ng-submit="login(user)" novalidate class="login-form">
            <div class="alert alert-warning error-message">Wrong login or password</div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" ng-model="user.email"
                       ng-model-options="{ updateOn: 'blur' }" placeholder="Email" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" ng-model="user.password"
                       minlength="4" maxlength="9" placeholder="Password" required>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"/> Check me out
                </label>
            </div>
            <button type="submit" id="submit" class="btn btn-default">Submit</button>
            <a ui-sref="courses" class="btn btn-success">Simple Login</a>
        </form>
    </div>
</div>